/* general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
h3 {
    color: #7F7F7F;
}


#house {
    position: absolute;
    z-index: 1;
}

#house-img {
    height: 50px;
    margin: 1rem;
}

.display-none {
    display: none;
}

/* container */
#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#background-container {
    width: 35%;
    background-color: #000;
}
#background-container > img {
    width: 100%;
    height: 100vh
}

/* form */

#form {
    width: 65%;
    background: #242424;
    border: 1px solid #52c5dd;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* titles */
#form-titles__container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 1rem 0;
}

#form-titles__container > h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

#form-titles__container > h3 {
    font-size: 1.2rem;
    color: #7F7F7F;
    font-weight: 300;
}

/* register */

#register-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.registers-input__container {
    width: 100%;
    margin: 0.8rem 0;
}

.input-registers {
    border: 2px solid #3D3D3D;
    border-radius: 4px;
    background: #242424;
    width: 98%;
    height: 40px;
    padding-left: 0.8rem;
    color: #fff;
}

.input-registers.error-input {
    border: 2px solid #F0DC69;
}

.diviser {
    width: 100%;
    background: #3D3D3D;
    height: 5px;
    margin: 0.8rem 0;
}

#button-container {
    margin: 0.8rem 0 2rem 0;
}

button {
    width: 12.5rem;
    height: 48px;
    background: #38A7FC;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #2F8ED6;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s;
}

.span-container {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}

.span-container > img {
    height:13px
}
.erros-registers {
    color: #F0DC69;
    font-weight: lighter;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

.subtitles {
    font-size: 1.2rem;
    color: #7F7F7F;
    font-weight: 300;
}